body {
    background-image: url(https://wallpaperaccess.com/full/1503528.jpg);
    background-position: center, bottom;
    color: orchid;
    margin: 0%
}

#wrapper {
    background-color: rgba(0, 0, 0, 0.85);
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times;
    text-align: left;
    padding: 15px;
}

ol {
    text-align: left;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: orangered;
}