body{
    background-image:url(https://wallpaperaccess.com/full/1503528.jpg);
    background-position: center, bottom;
    border: solid 3px blue;
    
}    
 #wrapper{
    background-color: darkslategray;
    margin: 0 auto;
    width: 90%;
    height: 100%;

}   


h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    font-family: Georgia, 'Times New Roman', Times;
    text-align: left;
    padding: 15px;

}
ul{
    list-style: none;
    text-align: center;
}